@import '../styles/variables.scss';
@import '../styles/light-theme.scss';
@import '../styles/dark-theme.scss';

body {
  font-family: 'Consolas';
  color: hsla(0,0%,0%,0.8);
  background-color: #EEEEEE;
  font-size: larger;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}
